.about-me {
    display: flex;

    &-column {
        width: 50%;
    }
}

.about-me-column {

    &__wrapper {
        width: 445px;
    }

    &--left {
        display: flex;
        justify-content: center;
        background-color: $gray-type-5;

    }

    &--right {
        background-color: $gray-type-6;
        padding-left: 40px;
        padding-right: 20px;
    }
}


