.about-me {
    display: flex;

    &-column {
        width: 50%;
    }

    @include tablet() {
        flex-direction: column;

        .about-me-column {
            width: 100%;
            margin-top: 0;
            text-align: center;
        }
    }

}

.about-me-column {
    margin-top: -30px;

    .header-block {
        width: 400px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .header-block__bg {
        width: 100%;
        fill: #cd8920;
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;

        @include tablet() {

        }
    }

    &__wrapper {
        width: 445px;
    }

    &_left {
        display: flex;
        justify-content: center;
        background-color: $gray-type-5;

    }

    &_right {
        background-color: $gray-type-6;
        padding-left: 40px;
        padding-right: 20px;
    }

    @include tablet() {
        flex-direction: column;

        .header-block__bg {
            display: none;
        }

        &__wrapper {
            width: 480px;
        }

        &_left {
            justify-content: center;
        }

        &_right {
            padding: 0;
        }

    }
}


