html {
    height: 100%;
}

body {
    min-height: 100%;
}

.user-section {
    position: relative;
    padding-top: 0;
    min-height: 604px;
    background: url($src_img_path + '/works/user-section-bg.jpg') 50%;
    background-position: 50% 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    &__bottom {
        min-height: 102px;
        position: relative;

        .arrow {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    &_blog {
        background: url($src_img_path + '/blog/user-section-blog-bg.jpg') 50%;
        background-size: cover;
        min-height: 400px;
    }

    @include tablet {
        min-height: 505px;

        &_blog {
            background: url($src_img_path + '/blog/user-section-blog-bg-tablet.jpg') no-repeat 50% 50%;
            background-size: cover
        }
    }

    @include mobile {
        min-height: 590px;

        &__top {
            padding: 15px;
        }

        &_blog {
            background: url($src_img_path + '/blog/user-section-blog-bg-mobile.jpg') no-repeat 50% 50%;
            background-size: cover
        }
    }
}

.about-me-section {
    background: url($src_img_path + '/works/about-me-bg.jpg');
    background-position: 50%;
    background-size: cover;
    overflow: hidden;

    &__comments {
        margin-bottom: 70px;
    }

    .arrow {
        margin: 0 auto;
        margin-top: 70px;
        display: block;
    }

    .header-block {
        width: 501px;
        height: 177px;
        margin: 0 auto;
        margin-top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .header-block__bg {
        width: 100%;
        fill: #6e7171;
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include tablet() {
        min-height: 1215px;

        .arrow {
            margin-top: 50px;
        }
    }

    @include mobile () {
        .header-block {
            width: 300px;
            height: 88px;
        }

        .header-block__bg {
            width: 300px;
            height: 88px;
        }

        &__comments {
            margin-bottom: 0;
        }
    }
}

.porfolio-section {
    background-color: $gray-type-7;
    overflow: hidden;

    .header-block {
        width: 506px;
        height: 165px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .header-block__bg {
        width: 100%;
        fill: #cd8920;
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include mobile {
        .header-block {
            width: 291px;
            height: 83px;
            margin-bottom: 15px;
        }

        .header-block__bg {
            width: 291px;
            height: 83px;
        }
    }
}
