$src_path: '../../assets';
$src_img_path: $src_path + '/img';

// COLORS
$light-brown: rgba(215, 191, 155, 0.6);
$brown: #efab26;
$brown-darken: #d18712;
$gray: #f0efe9;
$darken-gray: #373e42;
$gray-type-1: #f4f0e9;
$gray-type-2: #ebe5db;
$gray-type-3: #a8a9a6;
$gray-type-4: #5d5a55;
$gray-type-5: #efeee9;
$gray-type-6: #eeebdf;
$gray-type-7: #faf8f0;
$orange-type-1: #cd8920;
$orange-type-2: #e7a731;
$orange-type-3: #F1A528;

$roboto: 'Roboto', sans-serif;
$sunsus: 'SansusWebissimo', sans-serif;
