// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bank-building-name: 'bank-building';
$bank-building-x: 131px;
$bank-building-y: 0px;
$bank-building-offset-x: -131px;
$bank-building-offset-y: 0px;
$bank-building-width: 40px;
$bank-building-height: 48px;
$bank-building-total-width: 171px;
$bank-building-total-height: 152px;
$bank-building-image: '../img/sprites/raster/sprite.png';
$bank-building: (131px, 0px, -131px, 0px, 40px, 48px, 171px, 152px, '../img/sprites/raster/sprite.png', 'bank-building', );
$check-name: 'check';
$check-x: 80px;
$check-y: 141px;
$check-offset-x: -80px;
$check-offset-y: -141px;
$check-width: 12px;
$check-height: 9px;
$check-total-width: 171px;
$check-total-height: 152px;
$check-image: '../img/sprites/raster/sprite.png';
$check: (80px, 141px, -80px, -141px, 12px, 9px, 171px, 152px, '../img/sprites/raster/sprite.png', 'check', );
$checkbox-active-name: 'checkbox-active';
$checkbox-active-x: 60px;
$checkbox-active-y: 131px;
$checkbox-active-offset-x: -60px;
$checkbox-active-offset-y: -131px;
$checkbox-active-width: 20px;
$checkbox-active-height: 20px;
$checkbox-active-total-width: 171px;
$checkbox-active-total-height: 152px;
$checkbox-active-image: '../img/sprites/raster/sprite.png';
$checkbox-active: (60px, 131px, -60px, -131px, 20px, 20px, 171px, 152px, '../img/sprites/raster/sprite.png', 'checkbox-active', );
$checkbox-name: 'checkbox';
$checkbox-x: 40px;
$checkbox-y: 131px;
$checkbox-offset-x: -40px;
$checkbox-offset-y: -131px;
$checkbox-width: 20px;
$checkbox-height: 20px;
$checkbox-total-width: 171px;
$checkbox-total-height: 152px;
$checkbox-image: '../img/sprites/raster/sprite.png';
$checkbox: (40px, 131px, -40px, -131px, 20px, 20px, 171px, 152px, '../img/sprites/raster/sprite.png', 'checkbox', );
$citate-name: 'citate';
$citate-x: 131px;
$citate-y: 48px;
$citate-offset-x: -131px;
$citate-offset-y: -48px;
$citate-width: 33px;
$citate-height: 27px;
$citate-total-width: 171px;
$citate-total-height: 152px;
$citate-image: '../img/sprites/raster/sprite.png';
$citate: (131px, 48px, -131px, -48px, 33px, 27px, 171px, 152px, '../img/sprites/raster/sprite.png', 'citate', );
$h1-pouches-left-white-name: 'h1-pouches-left-white';
$h1-pouches-left-white-x: 131px;
$h1-pouches-left-white-y: 89px;
$h1-pouches-left-white-offset-x: -131px;
$h1-pouches-left-white-offset-y: -89px;
$h1-pouches-left-white-width: 40px;
$h1-pouches-left-white-height: 14px;
$h1-pouches-left-white-total-width: 171px;
$h1-pouches-left-white-total-height: 152px;
$h1-pouches-left-white-image: '../img/sprites/raster/sprite.png';
$h1-pouches-left-white: (131px, 89px, -131px, -89px, 40px, 14px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h1-pouches-left-white', );
$h1-pouches-left-name: 'h1-pouches-left';
$h1-pouches-left-x: 131px;
$h1-pouches-left-y: 103px;
$h1-pouches-left-offset-x: -131px;
$h1-pouches-left-offset-y: -103px;
$h1-pouches-left-width: 40px;
$h1-pouches-left-height: 14px;
$h1-pouches-left-total-width: 171px;
$h1-pouches-left-total-height: 152px;
$h1-pouches-left-image: '../img/sprites/raster/sprite.png';
$h1-pouches-left: (131px, 103px, -131px, -103px, 40px, 14px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h1-pouches-left', );
$h1-pouches-right-white-name: 'h1-pouches-right-white';
$h1-pouches-right-white-x: 131px;
$h1-pouches-right-white-y: 117px;
$h1-pouches-right-white-offset-x: -131px;
$h1-pouches-right-white-offset-y: -117px;
$h1-pouches-right-white-width: 40px;
$h1-pouches-right-white-height: 14px;
$h1-pouches-right-white-total-width: 171px;
$h1-pouches-right-white-total-height: 152px;
$h1-pouches-right-white-image: '../img/sprites/raster/sprite.png';
$h1-pouches-right-white: (131px, 117px, -131px, -117px, 40px, 14px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h1-pouches-right-white', );
$h1-pouches-right-name: 'h1-pouches-right';
$h1-pouches-right-x: 131px;
$h1-pouches-right-y: 75px;
$h1-pouches-right-offset-x: -131px;
$h1-pouches-right-offset-y: -75px;
$h1-pouches-right-width: 40px;
$h1-pouches-right-height: 14px;
$h1-pouches-right-total-width: 171px;
$h1-pouches-right-total-height: 152px;
$h1-pouches-right-image: '../img/sprites/raster/sprite.png';
$h1-pouches-right: (131px, 75px, -131px, -75px, 40px, 14px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h1-pouches-right', );
$h3-pouches-left-white-name: 'h3-pouches-left-white';
$h3-pouches-left-white-x: 143px;
$h3-pouches-left-white-y: 131px;
$h3-pouches-left-white-offset-x: -143px;
$h3-pouches-left-white-offset-y: -131px;
$h3-pouches-left-white-width: 21px;
$h3-pouches-left-white-height: 10px;
$h3-pouches-left-white-total-width: 171px;
$h3-pouches-left-white-total-height: 152px;
$h3-pouches-left-white-image: '../img/sprites/raster/sprite.png';
$h3-pouches-left-white: (143px, 131px, -143px, -131px, 21px, 10px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h3-pouches-left-white', );
$h3-pouches-left-name: 'h3-pouches-left';
$h3-pouches-left-x: 122px;
$h3-pouches-left-y: 131px;
$h3-pouches-left-offset-x: -122px;
$h3-pouches-left-offset-y: -131px;
$h3-pouches-left-width: 21px;
$h3-pouches-left-height: 10px;
$h3-pouches-left-total-width: 171px;
$h3-pouches-left-total-height: 152px;
$h3-pouches-left-image: '../img/sprites/raster/sprite.png';
$h3-pouches-left: (122px, 131px, -122px, -131px, 21px, 10px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h3-pouches-left', );
$h3-pouches-right-white-name: 'h3-pouches-right-white';
$h3-pouches-right-white-x: 80px;
$h3-pouches-right-white-y: 131px;
$h3-pouches-right-white-offset-x: -80px;
$h3-pouches-right-white-offset-y: -131px;
$h3-pouches-right-white-width: 21px;
$h3-pouches-right-white-height: 10px;
$h3-pouches-right-white-total-width: 171px;
$h3-pouches-right-white-total-height: 152px;
$h3-pouches-right-white-image: '../img/sprites/raster/sprite.png';
$h3-pouches-right-white: (80px, 131px, -80px, -131px, 21px, 10px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h3-pouches-right-white', );
$h3-pouches-right-name: 'h3-pouches-right';
$h3-pouches-right-x: 101px;
$h3-pouches-right-y: 131px;
$h3-pouches-right-offset-x: -101px;
$h3-pouches-right-offset-y: -131px;
$h3-pouches-right-width: 21px;
$h3-pouches-right-height: 10px;
$h3-pouches-right-total-width: 171px;
$h3-pouches-right-total-height: 152px;
$h3-pouches-right-image: '../img/sprites/raster/sprite.png';
$h3-pouches-right: (101px, 131px, -101px, -131px, 21px, 10px, 171px, 152px, '../img/sprites/raster/sprite.png', 'h3-pouches-right', );
$radio-active-name: 'radio-active';
$radio-active-x: 20px;
$radio-active-y: 131px;
$radio-active-offset-x: -20px;
$radio-active-offset-y: -131px;
$radio-active-width: 20px;
$radio-active-height: 21px;
$radio-active-total-width: 171px;
$radio-active-total-height: 152px;
$radio-active-image: '../img/sprites/raster/sprite.png';
$radio-active: (20px, 131px, -20px, -131px, 20px, 21px, 171px, 152px, '../img/sprites/raster/sprite.png', 'radio-active', );
$radio-name: 'radio';
$radio-x: 0px;
$radio-y: 131px;
$radio-offset-x: 0px;
$radio-offset-y: -131px;
$radio-width: 20px;
$radio-height: 21px;
$radio-total-width: 171px;
$radio-total-height: 152px;
$radio-image: '../img/sprites/raster/sprite.png';
$radio: (0px, 131px, 0px, -131px, 20px, 21px, 171px, 152px, '../img/sprites/raster/sprite.png', 'radio', );
$skill-bar-name: 'skill-bar';
$skill-bar-x: 0px;
$skill-bar-y: 0px;
$skill-bar-offset-x: 0px;
$skill-bar-offset-y: 0px;
$skill-bar-width: 131px;
$skill-bar-height: 131px;
$skill-bar-total-width: 171px;
$skill-bar-total-height: 152px;
$skill-bar-image: '../img/sprites/raster/sprite.png';
$skill-bar: (0px, 0px, 0px, 0px, 131px, 131px, 171px, 152px, '../img/sprites/raster/sprite.png', 'skill-bar', );
$spritesheet-width: 171px;
$spritesheet-height: 152px;
$spritesheet-image: '../img/sprites/raster/sprite.png';
$spritesheet-sprites: ($bank-building, $check, $checkbox-active, $checkbox, $citate, $h1-pouches-left-white, $h1-pouches-left, $h1-pouches-right-white, $h1-pouches-right, $h3-pouches-left-white, $h3-pouches-left, $h3-pouches-right-white, $h3-pouches-right, $radio-active, $radio, $skill-bar, );
$spritesheet: (171px, 152px, '../img/sprites/raster/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
