// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bank-building-name: 'bank-building';
$bank-building-x: 0px;
$bank-building-y: 0px;
$bank-building-offset-x: 0px;
$bank-building-offset-y: 0px;
$bank-building-width: 40px;
$bank-building-height: 48px;
$bank-building-total-width: 100px;
$bank-building-total-height: 99px;
$bank-building-image: '../img/sprites/raster/sprite.png';
$bank-building: (0px, 0px, 0px, 0px, 40px, 48px, 100px, 99px, '../img/sprites/raster/sprite.png', 'bank-building', );
$check-name: 'check';
$check-x: 70px;
$check-y: 30px;
$check-offset-x: -70px;
$check-offset-y: -30px;
$check-width: 12px;
$check-height: 9px;
$check-total-width: 100px;
$check-total-height: 99px;
$check-image: '../img/sprites/raster/sprite.png';
$check: (70px, 30px, -70px, -30px, 12px, 9px, 100px, 99px, '../img/sprites/raster/sprite.png', 'check', );
$checkbox-active-name: 'checkbox-active';
$checkbox-active-x: 51px;
$checkbox-active-y: 48px;
$checkbox-active-offset-x: -51px;
$checkbox-active-offset-y: -48px;
$checkbox-active-width: 21px;
$checkbox-active-height: 20px;
$checkbox-active-total-width: 100px;
$checkbox-active-total-height: 99px;
$checkbox-active-image: '../img/sprites/raster/sprite.png';
$checkbox-active: (51px, 48px, -51px, -48px, 21px, 20px, 100px, 99px, '../img/sprites/raster/sprite.png', 'checkbox-active', );
$checkbox-name: 'checkbox';
$checkbox-x: 72px;
$checkbox-y: 48px;
$checkbox-offset-x: -72px;
$checkbox-offset-y: -48px;
$checkbox-width: 20px;
$checkbox-height: 20px;
$checkbox-total-width: 100px;
$checkbox-total-height: 99px;
$checkbox-image: '../img/sprites/raster/sprite.png';
$checkbox: (72px, 48px, -72px, -48px, 20px, 20px, 100px, 99px, '../img/sprites/raster/sprite.png', 'checkbox', );
$ckeckbox-active-name: 'ckeckbox-active';
$ckeckbox-active-x: 20px;
$ckeckbox-active-y: 78px;
$ckeckbox-active-offset-x: -20px;
$ckeckbox-active-offset-y: -78px;
$ckeckbox-active-width: 20px;
$ckeckbox-active-height: 20px;
$ckeckbox-active-total-width: 100px;
$ckeckbox-active-total-height: 99px;
$ckeckbox-active-image: '../img/sprites/raster/sprite.png';
$ckeckbox-active: (20px, 78px, -20px, -78px, 20px, 20px, 100px, 99px, '../img/sprites/raster/sprite.png', 'ckeckbox-active', );
$map-health-name: 'map-health';
$map-health-x: 40px;
$map-health-y: 0px;
$map-health-offset-x: -40px;
$map-health-offset-y: 0px;
$map-health-width: 30px;
$map-health-height: 30px;
$map-health-total-width: 100px;
$map-health-total-height: 99px;
$map-health-image: '../img/sprites/raster/sprite.png';
$map-health: (40px, 0px, -40px, 0px, 30px, 30px, 100px, 99px, '../img/sprites/raster/sprite.png', 'map-health', );
$map-school-name: 'map-school';
$map-school-x: 70px;
$map-school-y: 0px;
$map-school-offset-x: -70px;
$map-school-offset-y: 0px;
$map-school-width: 30px;
$map-school-height: 30px;
$map-school-total-width: 100px;
$map-school-total-height: 99px;
$map-school-image: '../img/sprites/raster/sprite.png';
$map-school: (70px, 0px, -70px, 0px, 30px, 30px, 100px, 99px, '../img/sprites/raster/sprite.png', 'map-school', );
$map-shop-name: 'map-shop';
$map-shop-x: 0px;
$map-shop-y: 48px;
$map-shop-offset-x: 0px;
$map-shop-offset-y: -48px;
$map-shop-width: 30px;
$map-shop-height: 30px;
$map-shop-total-width: 100px;
$map-shop-total-height: 99px;
$map-shop-image: '../img/sprites/raster/sprite.png';
$map-shop: (0px, 48px, 0px, -48px, 30px, 30px, 100px, 99px, '../img/sprites/raster/sprite.png', 'map-shop', );
$radio-active-name: 'radio-active';
$radio-active-x: 0px;
$radio-active-y: 78px;
$radio-active-offset-x: 0px;
$radio-active-offset-y: -78px;
$radio-active-width: 20px;
$radio-active-height: 21px;
$radio-active-total-width: 100px;
$radio-active-total-height: 99px;
$radio-active-image: '../img/sprites/raster/sprite.png';
$radio-active: (0px, 78px, 0px, -78px, 20px, 21px, 100px, 99px, '../img/sprites/raster/sprite.png', 'radio-active', );
$radio-name: 'radio';
$radio-x: 30px;
$radio-y: 48px;
$radio-offset-x: -30px;
$radio-offset-y: -48px;
$radio-width: 21px;
$radio-height: 21px;
$radio-total-width: 100px;
$radio-total-height: 99px;
$radio-image: '../img/sprites/raster/sprite.png';
$radio: (30px, 48px, -30px, -48px, 21px, 21px, 100px, 99px, '../img/sprites/raster/sprite.png', 'radio', );
$spritesheet-width: 100px;
$spritesheet-height: 99px;
$spritesheet-image: '../img/sprites/raster/sprite.png';
$spritesheet-sprites: ($bank-building, $check, $checkbox-active, $checkbox, $ckeckbox-active, $map-health, $map-school, $map-shop, $radio-active, $radio, );
$spritesheet: (100px, 99px, '../img/sprites/raster/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
