.blog {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    background-color: $gray-type-7;

    &-wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    @include mobile {
        padding-top: 30px;
    }
}

.blog-menu-wrapper {
    max-width: 270px;
    margin-right: 100px;

    @include tablet {
        position: fixed;
        display: flex;
        align-items: center;
        transform: translate(-100%, 0);
        top: 0;
        left: 0;
        bottom: 0;
        max-width: 300px;
        margin-right: 0;
        z-index: 2;
        background-color: $orange-type-3;
        transition: transform 0.5s;

        &_open {
            transform: translate(0, 0);
        }
    }
}

.blog-menu {
    text-align: right;
    position: sticky;
    top: 20px;

    &__item {
        margin-bottom: 35px;
        padding-right: 17px;
        border-right: 3px solid transparent;

        a {
            font-size: 1.16rem;
            color: $gray-type-4;
            text-decoration: none;
            line-height: 1.6;
        }
    }

    &__item_active {
        border-right: 3px solid $orange-type-2;

        a {
            color: $orange-type-1;
            text-shadow: 0 0 0 $orange-type-1
        }
    }

    @include tablet {
        position: static;

        &__item {
            a {
                color: #FFF;
            }
        }

        &__item_active {
            a {
                text-shadow: 0 0 0 #FFF;
            }
        }
    }

    @include mobile {
        position: static;
    }
}

.article {
    max-width: 900px;
    padding-bottom: 70px;
    margin-bottom: 70px;
    border-bottom: 5px solid rgba(55, 62, 66, 0.07);

    &__date {
        color: $orange-type-1;
        font-size: 1.16rem;
        opacity: 0.8;
        margin-bottom: 25px;
    }

    &__title {
        color: $gray-type-4;
        font-family: $sunsus;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: 0;
    }

    @include tablet {
        padding-bottom: 50px;
        margin-bottom: 50px;

        &__title {
            font-size: 2.14rem;
            margin-bottom: 8px;
        }

        &__date {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }

    @include mobile {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom-width: 4px;

        &__title {
            font-size: 1.5rem;
        }
    }
}

.blog-menu-btn {
    display: none;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 100%;
    background-color: $orange-type-3;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-70%, 0);
    cursor: pointer;

    @include tablet {
        display: block;
    }
}
