.callback-form {
    margin: 0 auto;
    width: 380px;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.15);

    &__title {
        margin-top: 0;
    }

    &__form {
        padding: 20px;
        padding-top: 0;
    }

    &__buttons-block {
        display: flex;

        .btn {
            width: 50%;
        }

    }
}
