.map {
    position: relative;
    min-height: 984px;
    display: flex;
    flex-direction: column;

    &-wrapper {
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        pointer-events: none;
    }

    .footer {
        margin-top: 0;
    }

    @include mobile {
        &-wrapper {
            align-items: flex-start;
        }
    }
}

.map-info {
    width: 380px;
    padding: 35px 40px;
    background-color: rgba(252, 252, 252, 0.85);
    pointer-events: auto;

    &__title {
        margin-top: 0;
    }

    @include tablet {
        width: 346px;
    }

    @include mobile {
        background-color: #FFF;

        &__title {
            font-size: 2.5rem;
        }
    }
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}
