.site-menu {
    display: none;
    padding-top: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: rgba(231, 167, 49, .8);
    z-index: 2;

    &.open {
        display: block;
    }
}

.site-menu-item {
    text-align: center;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #FFF;
        text-decoration: none;
        font-size: 4.5rem;
        text-transform: uppercase;
        font-family: $sunsus;
    }

    &_active {
        &:before {
            content: '';
            display: block;
            @include sprite($h1-pouches-left-white);
            margin-right: 40px;
        }

        &:after {
            content: '';
            display: block;
            @include sprite($h1-pouches-right-white);
            margin-left: 40px;
        }
    }
}


.btn-menu {
    position: absolute;
    right: 34px;
    top: 28px;
    z-index: 3;
    cursor: pointer;
}


