.site-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(231, 167, 49, .8);
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .open-menu & {
        display: flex;
    }
}

.site-menu-item {
    text-align: center;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #FFF;
        text-decoration: none;
        font-size: 4.5rem;
        text-transform: uppercase;
        font-family: $sunsus;
    }

    &_active {
        &:before {
            content: '';
            display: block;
            @include sprite($h1-pouches-left-white);
            margin-right: 40px;
        }

        &:after {
            content: '';
            display: block;
            @include sprite($h1-pouches-right-white);
            margin-left: 40px;
        }
    }

    @include tablet {
        margin-bottom: 85px;

        a {
            font-size: 3.5rem;
        }

        &_active {
            &:before {
                margin-right: 20px;
            }

            &:after {
                margin-left: 20px;
            }
        }
    }

    @include mobile {
        margin-bottom: 50px;

        a {
            font-size: 2.5rem;
        }

        &_active {
            &:before {
                margin-right: 10px;
                @include sprite($h3-pouches-left-white);
            }

            &:after {
                margin-left: 10px;
                @include sprite($h3-pouches-right-white);
            }
        }
    }
}

.btn-menu {
    position: absolute;
    right: 34px;
    top: 28px;
    z-index: 4;
    cursor: pointer;
    width: 40px;
    height: 35px;

    .open-menu & {
        right: 49px;
    }

    &__line {
        height: 5px;
        background-color: #FFF;
        margin-bottom: 10px;
        transform: rotate(0deg);
        transform-origin: 0;
        transition: transform 0.5s, width 0.5s;
        transition-delay: 0.1s;
    }

    .line_middle {
        background: transparent;
        display: flex;
    }

    .middle-line_left,
    .middle-line_right {
        height: 5px;
        background-color: #FFF;
        width: 50%;
        transition: transform 0.3s, opacity 0.3s;
    }

    .open-menu & {

        .line_top {
            transform: translate(6px, 1px) rotate(45deg);
        }

        .line_bottom {
            transform: translate(6px, -1px) rotate(-45deg);
        }

        .middle-line_left {
            transform: translate(-100%, 0);
            opacity: 0;
        }

        .middle-line_right {
            transform: translate(100%, 0);
            opacity: 0;
        }
    }

    @include tablet {
        .open-menu & {
            right: 34px;
        }
    }

    @include mobile {
        right: 10px;
        top: 10px;
        width: 25px;
        height: 22px;

        .open-menu & {
            right: 10px;
        }

        &__line {
            height: 4px;
            margin-bottom: 5px;
        }

        .middle-line_left,
        .middle-line_right {
            height: 4px;
        }

        .open-menu & {
            .line_top {
                transform: translate(3px, 0) rotate(45deg);
            }

            .line_bottom {
                transform: translate(3px, -0.5px) rotate(-45deg);
            }
        }
    }
}
