
.skill-direction {
    margin-bottom: 40px;

    &__header {
        color: $gray-type-4;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__skills {
        display: flex;
        justify-content: flex-start;
    }

    @include tablet() {
        &__header {
            font-size: 1.5rem;
        }

        &__skills {
            justify-content: center;
        }
    }

    @include mobile{
        margin-bottom: 0;
    }
}

.skills__item {
    display: flex;

    @include mobile {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.skill {
    position: relative;

    &__bar {
        position: relative;
        width: 110px;
        height: 110px;

        circle {
            transform-origin: 50%;
            transform: rotate(-90deg);
        }
    }

    &__name {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $orange-type-1;
        font: {
            family: $roboto;
            size: 1.07rem;
        }
    }

    @include mobile{
        margin-bottom: 30px;
    }
}

.skill + .skill {
    margin-left: 40px;

    @include mobile{
        margin-left: 0;
    }
}



