.user {
    text-align: center;
    color: #FFF;

    &__pic {
       border-radius: 50%;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 1.16rem;
    }

    &__social {
        margin-top: 35px;
        margin-bottom: 40px;
    }
}