.footer
    .footer-wrapper
        .footer-column.left-column
            .footer-column__text.footer-column__text_color-white  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .footer-column__text  © Рустам Аьлызалов с любовью в LoftSchool | 2017
        .footer-column.middle-column
            ul.footer-menu
                li.footer-menu__item
                    a(href="#") Мои работы
                li.footer-menu__item
                    a(href="#") Обо мне
                li.footer-menu__item
                    a(href="#") Блог
                li.footer-menu__item
                    a(href="#") Авторизация
            .social
                .social__item
                    a(href="#")
                        svg(width=31,height=17, class="svg svg_color-light-gray svg_hover-color-white")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#vk")
                .social__item
                    a(href="#")
                        svg(width=26,height=22, class="svg svg_color-light-gray svg_hover-color-white")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#github")
                .social__item
                    a(href="#")
                        svg(width=24,height=22, class="svg svg_color-light-gray svg_hover-color-white")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#in")
        .footer-column.right-column
            ul.contacts.contacts_footer
                li.contacts__item skype_kdn
                li.contacts__item astahov@gmail.com
                li.contacts__item +7 931 200 93 24
                li.contacts__item Новосибирск, ул. Инская, д.14
