.social
    .social__item
        a(href="#")
            svg(width=31,height=17, class="svg svg--color-white")
                use(xlink:href="assets/img/sprites/svg/sprite.svg#vk")
    .social__item
        a(href="#")
            svg(width=26,height=22, class="svg svg--color-white")
                use(xlink:href="assets/img/sprites/svg/sprite.svg#github")
    .social__item
        a(href="#")
            svg(width=24,height=22, class="svg svg--color-white")
                use(xlink:href="assets/img/sprites/svg/sprite.svg#in")