.social
    .social__item
        a(href="#" class='social-type')
            svg(class="social-type__vk svg svg_color-white svg_hover-color-orange")
                use(xlink:href="assets/img/sprites/svg/sprite.svg#vk")
    .social__item
        a(href="#" class='social-type')
            svg(class="social-type__github svg svg_color-white svg_hover-color-orange")
                use(xlink:href="assets/img/sprites/svg/sprite.svg#github")
    .social__item
        a(href="#" class='social-type')
            svg(class="social-type__in svg svg_color-white svg_hover-color-orange")
                use(xlink:href="assets/img/sprites/svg/sprite.svg#in")