extends ../_template

block variables
    - var title = 'Blog page'

block content
    include ../modules/btn-menu
    .section-wrapper
        +site-menu('blog')
        section.user-section.user-section_blog
            .user-section__top
                include ../modules/social
            .user-section__center
                .user
                    img(class="user__pic" src="http://via.placeholder.com/141x141", alt="Фото")
                    .heading-block
                        svg(width=303,height=208, class="heading-block__bg")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#blog_header")
                        .heading-block__text
                            h1.heading-block-header.white Блог
                            .heading-block-subheader Статьи, которые я написал
            .user-section__bottom
                svg(class="traingle", xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85")
                    polygon(class="left" points="0,0   0,86   500.8,86   500.8,84")
                    polygon(class="right" points="1000,0   1000,86   500,86   500,84")
        section.blog
            .blog-wrapper
                .blog-menu-wrapper
                    .blog-menu-btn
                    ul.blog-menu
                        li(data-type='1').blog-menu__item.blog-menu__item_active
                            a(href="#article_1",) Самое важное в SASS
                        li(data-type='2').blog-menu__item
                            a(href="#article_2") Приёмы в вёрстке, без которых не обходится ни один сайт
                        li(data-type='3').blog-menu__item
                            a(href="#article_3") Самый необходимый набор Gulp плагинов
                        li(data-type='4').blog-menu__item
                            a(href="#article_4") Почему я выбрал Jade
                .blog-articles
                    .article#article_1
                        .article__title Самое важное в SASS
                        .article__date 22 ноября 2016
                        .article__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .stub

                    .article#article_2
                        .article__title Приёмы в вёрстке, без которых не обходится ни один сайт
                        .article__date 13 ноября 2016
                        .article__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                    .article#article_3
                        .article__title Самое важное в SASS
                        .article__date 22 ноября 2016
                        .article__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .stub

                    .article#article_4
                        .article__title Самое важное в SASS
                        .article__date 22 ноября 2016
                        .article__text
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        .stub


            include ../modules/footer
    script(src='assets/js/blog.js' defer)