extends ../_template

block variables
  - var title = 'Home page'

block content
  .fullpage.index
    .fullpage__central-block
      .user
        .user__pic
        .user__title
        .user__subtitle
      .social
        .social__item
        .social__item
        .social__item