extends ../_template

block variables
    - var title = 'Works page'

block content
    include ../modules/btn-menu
    .section-wrapper
        +site-menu('works')
        section.user-section
            .user-section__top
                include ../modules/social
            .user-section__center
                svg(class="user-bg" viewBox="0 0 1176 313" preserveAspectRatio="none")
                    use(xlink:href="assets/img/sprites/svg/sprite.svg#portfolio_header")
                .user
                    img(class="user__pic" src="http://via.placeholder.com/141x141", alt="Фото")
                    .user__title Аблызалов Рустам
                    .user__subtitle Личный сайт веб разработчика
            .user-section__bottom
                svg(width=26,height=16, class="arrow arrow-down svg svg_color-white svg_hover-color-beige")
                    use(xlink:href="assets/img/sprites/svg/sprite.svg#portf_arrow_down")
                svg(class="traingle", xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85")
                    polygon(class="left" points="0,0   0,86   500.8,86   500.8,84")
                    polygon(class="right" points="1000,0   1000,86   500,86   500,84")
        section.porfolio-section
            .header-block
                svg(class="header-block__bg" )
                    use(xlink:href="assets/img/sprites/svg/sprite.svg#works_header")
                h1 Мои работы
            .gallery
                .gallery-describe
                    h3.gallery-describe__header Сайт школы онлайн Образования
                    .gallery-describe__text HTML, CSS, JAVASCRIPT
                    a(href="#" class="btn") Посмотреть сайт
                .gallery-preview
                    img(src="assets/img/works/site-1.png")
                .gallery-slider
                    .slider(data-slider)
                        .slider-wrapper
                            .slider-left(data-slider-left)
                                .slider-track(data-slider-track)
                                    .slider-item(data-number=1, data-slider-item)
                                        .number 1
                                    .slider-item(data-number=2, data-slider-item)
                                        .number 2
                                    .slider-item(data-number=3, data-slider-item)
                                        .number 3
                                    .slider-item(data-number=4, data-slider-item)
                                        .number 4
                            .slider-right(data-slider-right)
                                .slider-track(data-slider-track)
                                    .slider-item(data-number=1, data-slider-item)
                                        .number 1
                                    .slider-item(data-number=2, data-slider-item)
                                        .number 2
                                    .slider-item(data-number=3, data-slider-item)
                                        .number 3
                                    .slider-item(data-number=4, data-slider-item)
                                        .number 4

                        .slider-prev(data-slider-prev)
                        .slider-next(data-slider-prev)


        section.about-me-section
            .header-block
                svg(class="header-block__bg" )
                    use(xlink:href="assets/img/sprites/svg/sprite.svg#about_header")
                h1.header-block__title Что обо мне<br>говорят
            .comments.about-me-section__comments
                .comment
                    .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца
                        | только самых тяжелых испытаний и бессонных ночей!
                    .author
                        .author-pic
                            img(src="assets/img/works/author-1.png")
                        .author-describe
                            .author-describe__name Ковальчук Дмитрий
                            .author-describe__position основатель Loftschool

                .comment
                    .comment__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на
                        | слишком старых браузерах!
                    .author
                        .author-pic
                            img(src="assets/img/works/author-2.png")
                        .author-describe
                            .author-describe__name Сабанцев Владимир
                            .author-describe__position преподаватель
            form.callback-form(data-validate-form, action="/" method="POST")
                h3.callback-form__title Связаться со мной
                .callback-form__form
                    .form-control
                        .error-message.error-message_top(data-error-block)
                        input(placeholder="Имя" data-valid data-error-text="Вы не ввели имя").form-control__field.form-control__field_width-100
                    .form-control
                        .error-message.error-message_bottom(data-error-block)
                        input(placeholder="Email" data-valid data-error-text="Вы не ввели email").form-control__field.form-control__field_width-100
                    .form-control
                        .error-message.error-message_bottom(data-error-block)
                        textarea(placeholder="Ваше сообщение" data-valid data-error-text="Вы не ввели сообщение").form-control__field.form-control__field_width-100
                .callback-form__buttons-block.btn-group
                    button.btn Отправить
                    button.btn(type="reset") Очистить
            svg(width=26,height=16, class="arrow arrow-up svg svg_color-white svg_hover-color-beige")
                use(xlink:href="assets/img/sprites/svg/sprite.svg#portf_arrow_up")

            include ../modules/footer

        script(src='assets/js/works.js' defer)